# **Data Wrangling Lab**

## Objectives

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

Import pandas module.

In [20]:
import pandas as pd

Load the dataset into a dataframe.

In [21]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

Number of  duplicated rows exist in the dataframe.

In [22]:
duplicate_rows= df[df.duplicated(keep="first")]
num_duplicate_rows=len(duplicate_rows)
print(f"Number of Duplicate Rows: {num_duplicate_rows}")

Number of Duplicate Rows: 154

In [23]:
duplicate_count = df.duplicated(subset=["Respondent"]).sum()
print("Number of duplicate values in the 'Respondent' column:", duplicate_count)

Number of duplicate values in the 'Respondent' column: 154

## Removing duplicates

Removed the duplicate rows from the dataframe.

In [24]:
df=df.drop_duplicates()

Verified if duplicates were actually dropped.

In [25]:
duplicate_rows_df = df[df.duplicated(keep=False)]
if df.shape  != duplicate_rows_df.shape:
    print("Duplicates were dropped.")
else:
    print("No duplicates were dropped.")

Duplicates were dropped.

In [33]:
rows_after_duplicates_removal = df.shape[0]
print("Number of rows after removing duplicate rows:", rows_after_duplicates_removal)

Number of rows after removing duplicate rows: 11398

In [34]:
unique_respondents = df['Respondent'].nunique()
print("Number of unique respondents after removing duplicate rows:", unique_respondents)

Number of unique respondents after removing duplicate rows: 11398

## Finding Missing values

Found the missing values for all columns.

In [26]:
missing_values=df.isnull().sum()
print(missing_values)

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [35]:
missing_edlevel_rows = df['EdLevel'].isna().sum()
print("Number of missing (blank) rows in the 'EdLevel' column after removing duplicate rows:", missing_edlevel_rows)

Number of missing (blank) rows in the 'EdLevel' column after removing duplicate rows: 112

In [36]:
missing_country_rows = df['Country'].isna().sum()
print("Number of missing (blank) rows in the 'Country' column after removing duplicate rows:", missing_country_rows)

Number of missing (blank) rows in the 'Country' column after removing duplicate rows: 0

Found out the number of  rows that are missing in the column 'WorkLoc'

In [27]:
missing_workloc = df["WorkLoc"].isnull().sum()
print("Number of missing values in the 'WorkLoc' column:", missing_values)

Number of missing values in the 'WorkLoc' column: Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

## Imputing missing values

Found the  value counts for the column WorkLoc.

In [28]:
workloc_counts = df["WorkLoc"].value_counts()
print(workloc_counts)

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [37]:
majority_employment_category = df['Employment'].mode().values[0]
print("Majority category under the 'Employment' column:", majority_employment_category)

Majority category under the 'Employment' column: Employed full-time

In [38]:
min_undergrad_major_category = df['UndergradMajor'].value_counts().idxmin()
print("Category with the minimum number of rows under the 'UndergradMajor' column:", min_undergrad_major_category)

Category with the minimum number of rows under the 'UndergradMajor' column: A health science (ex. nursing, pharmacy, radiology)

In [39]:
ConvertedComp_counts = df["ConvertedComp"].value_counts()
print(ConvertedComp_counts)

2000000.0    138
1000000.0    105
100000.0      99
150000.0      92
120000.0      86
            ...
79183.0        1
20475.0        1
288732.0       1
22056.0        1
19880.0        1
Name: ConvertedComp, Length: 3515, dtype: int64

Identified the value that is most frequent (majority) in the WorkLoc column.

In [2]:
# Office is the most frequent in the WorkLoc column (6806).

Imputed (replaced) all the empty rows in the column WorkLoc with the value  identified as majority.

In [29]:
df.loc[df["WorkLoc"].isnull(), "WorkLoc"] = "Office"

Verified if imputing was successful.

In [30]:
missing_values = df["WorkLoc"].isnull().sum()
print("Number of missing values in WorkLoc after imputation:", missing_values)

Number of missing values in WorkLoc after imputation: 0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section I  created a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

Listed out the various categories in the column 'CompFreq'

In [40]:
yearly_paid = df[df['CompFreq'] == 'Yearly']
unique_respondents = yearly_paid['Respondent'].nunique()
print(unique_respondents)

6073

In [31]:
# your code goes here
categories = df["CompFreq"].unique()
print("Categories in the ComFreq column:", categories)

Categories in the ComFreq column: ['Yearly' 'Monthly' 'Weekly' nan]

Created a new column named 'NormalizedAnnualCompensation'.

In [32]:
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    return None  # Handle missing or invalid values

df = df.copy()
df['NormalizedAnnualCompensation'] = df.apply(lambda row: normalize_compensation(row), axis=1)

In [41]:
median_normalized_compensation = df['NormalizedAnnualCompensation'].median()
print(median_normalized_compensation)

100000.0

## Author

Karim Ali